In [1]:
import pandas as pd

In [13]:
test_data = pd.read_csv("/Users/rebeccawagner/Documents/GitHub/GerryGainMCMC/state_environs/VA_LE")
type(test_data["block_geoid_start"][0])
block_le_data = pd.read_csv("/Users/rebeccawagner/Documents/GitHub/GerryGainMCMC/state_environs/VA_LE", dtype={'block_geoid_start':str})
block_le_data

,block_geoid_end,block_geoid_start,sl_dist,rn_total_sl_dist,rn_hisp_sl_dist,rn_nh_white_sl_dist,rn_nh_black_sl_dist,state_fips,geoid20,geoid,...,hisp,nh_white,nh_black,nh_na,nh_asn,nh_haw,nh_oth,nh_multi,block_id_crosswalk,_merge
0,518100428015001,510010901011004,87.167068,784570,66249,436099,206975,51,510010901011004,510010901011004,...,0,7,1,0,1,0,0,2,2,matched (3)
1,511990510004033,510010901011006,89.001945,784639,66463,436571,206179,51,510010901011006,510010901011006,...,2,44,0,1,0,0,0,1,3,matched (3)
2,518100456061008,510010901011011,87.635887,784723,66369,436424,206518,51,510010901011011,510010901011011,...,0,9,0,0,0,0,0,4,4,matched (3)
3,518100458011009,510010901011012,87.547806,784683,66456,436459,206349,51,510010901011012,510010901011012,...,0,64,0,0,0,0,0,0,5,matched (3)
4,517000320051003,510010901011019,86.464142,784607,66923,435224,206419,51,510010901011019,510010901011019,...,0,4,0,0,0,0,0,0,6,matched (3)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117355,510594910001014,518400003024016,43.091900,784675,90374,494402,52580,51,518400003024016,518400003024016,...,89,18,1,0,0,0,0,5,117357,matched (3)
117356,511076117022007,518400003024019,42.706642,784708,89072,497661,52252,51,518400003024019,518400003024019,...,88,82,29,0,0,1,0,9,117358,matched (3)
117357,511076115023007,518400003024020,42.850006,784720,89008,498184,52093,51,518400003024020,518400003024020,...,88,32,11,0,0,0,0,7,117359,matched (3)
117358,511390304022016,518400003024022,42.632431,783929,89099,496172,52300,51,518400003024022,518400003024022,...,8,0,0,0,3,0,0,2,117360,matched (3)
117359,510479304001002,518400003024023,43.136856,784547,90645,493952,52514,51,518400003024023,518400003024023,...,7,0,4,0,0,0,1,6,117361,matched (3)

In [11]:
test = GetVTDLocalEnv(Block_to_Vtd='/Users/rebeccawagner/Desktop/block_vtd_VA.csv',Block_LE_Data="/Users/rebeccawagner/Documents/GitHub/GerryGainMCMC/state_environs/VA_LE")
test

/var/folders/25/yq9cvx4n7714ymc6mt488mw80000gn/T/ipykernel_5081/1880676029.py:29: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  final_df = merged_df.groupby(by="block_vtda",as_index=False).sum()[["block_vtda","total","nh_black","weighted_blk_sl_dist"]]

       block_vtda  total  nh_black  weighted_blk_sl_dist
0     51001000101   3326        28          87802.262866
1     51001000201   1511       211          39770.743603
2     51001000202   2887       148          75159.553995
3     51001000301   3560      1700          93245.021779
4     51001000401   1378       190          36526.530241
...           ...    ...       ...                   ...
2459  51840000102   2951       165          19552.899114
2460  51840000201   6910      1120          45876.665423
2461  51840000301   6844       793          45651.937283
2462  51840000401   3663       338          24411.412514
2463  51840000402   3860       222          25622.788094

[2464 rows x 4 columns]

In [14]:
def GetVTDLocalEnv(Block_LE_Data,Block_to_Vtd,save=False,save_path=''):
    """Get the local environment data necessary for calculating S+/- scores on VTDs
        block_LE_data = string path to csv file local environment blocks for the state
        block_to_vtd = string path to csv file mapping blocks to vtds
        set save = True to save as cvs file to local device
        set save path as string"""
    
    # import libraries
    import pandas as pd

    # get block to VTD mapping
    block_to_vtd = pd.read_csv(Block_to_Vtd)[["GEOID20","block_vtda"]] # keep only necessary columns
    block_to_vtd["GEOID20"] = block_to_vtd["GEOID20"].astype(str) # cast type for merging 

    # local environment data for block
    block_le_data = pd.read_csv(Block_LE_Data, dtype={'block_geoid_start':str})

    # merge dataframes
    merged_df = block_to_vtd.merge(right=block_le_data, left_on='GEOID20', right_on='block_geoid_start').drop(columns=["block_geoid_start"])
    #merged_df[["GEOID20","block_vtda","rn_total_sl_dist","rn_nh_black_sl_dist","total","nh_black"]]

    # make new columns for S+/- calculations
    merged_df["pct_blk_sl_dist"] = merged_df["rn_nh_black_sl_dist"]/merged_df["rn_total_sl_dist"] * 100
    merged_df["weighted_blk_sl_dist"] = merged_df["pct_blk_sl_dist"] * merged_df["total"]

    # Sum columns for each VTD
    final_df = merged_df.groupby(by="block_vtda",as_index=False).sum()[["block_vtda","total","nh_black","weighted_blk_sl_dist"]]

    # save as csv if required
    if save is True:
        final_df.to_csv(path_or_buf=save_path)

    # return 
    return final_df

In [4]:
def GetVTDLocalEnv(Block_LE_Data,Block_to_Vtd):
    """Get the local environment data necessary for calculating S+/- scores on VTDs
        block_LE_data = string path to csv file local environment blocks for the state
        block_to_vtd = string path to csv file mapping blocks to vtds"""
    
    # import libraries
    import pandas as pd

    # get block to VTD mapping
    block_to_vtd = pd.read_csv(Block_to_Vtd)[["GEOID20","block_vtda"]] # keep only necessary columns
    block_to_vtd["GEOID20"] = block_to_vtd["GEOID20"].astype(str) # cast type for merging 

    # local environment data for blocks
    header = pd.read_csv(Block_LE_Data, index_col=0, nrows=0).columns.tolist()
    block_le_data = pd.read_csv(Block_LE_Data, names = header, dtype={'block_geoid_start':str}).reset_index(drop=True) 

    # merge dataframes
    merged_df = block_to_vtd.merge(right=block_le_data, left_on='GEOID20', right_on='block_geoid_start').drop(columns=["block_geoid_start"])
    #merged_df[["GEOID20","block_vtda","rn_total_sl_dist","rn_nh_black_sl_dist","total","nh_black"]]

    # make new columns for S+/- calculations
    merged_df["pct_blk_sl_dist"] = merged_df["rn_nh_black_sl_dist"]/merged_df["rn_total_sl_dist"] * 100
    merged_df["weighted_blk_sl_dist"] = merged_df["pct_blk_sl_dist"] * merged_df["total"]

    # Sum columns for each VTD & return 
    return merged_df.groupby(by="block_vtda",as_index=False).sum()[["block_vtda","total","nh_black","weighted_blk_sl_dist"]]

In [5]:
GetVTDLocalEnv(Block_LE_Data='/Users/rebeccawagner/Documents/GitHub/GerryGainMCMC/local_environments_US.csv',Block_to_Vtd="/Users/rebeccawagner/Desktop/block_vtd_VA.csv")

/var/folders/25/yq9cvx4n7714ymc6mt488mw80000gn/T/ipykernel_3178/3246071562.py:15: DtypeWarning: Columns (0,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  block_le_data = pd.read_csv(Block_LE_Data, names = header, dtype={'block_geoid_start':str}).reset_index(drop=True)

       block_vtda  total  nh_black  weighted_blk_sl_dist
0     51001000101   3345        28          88303.079676
1     51001000201   1511       211          39770.743603
2     51001000202   2887       148          75159.553995
3     51001000301   3560      1700          93245.021779
4     51001000401   1378       190          36526.530241
...           ...    ...       ...                   ...
2459  51840000102   2951       165          19552.899114
2460  51840000201   6910      1120          45876.665423
2461  51840000301   6844       793          45651.937283
2462  51840000401   3663       338          24411.412514
2463  51840000402   3860       222          25622.788094

[2464 rows x 4 columns]

In [42]:
Va_data = pd.read_csv("/Users/rebeccawagner/Desktop/block_vtd_VA.csv")
VA_data_2 = Va_data[["GEOID20","block_vtda"]]
VA_data_2["GEOID20"] = VA_data_2["GEOID20"].astype(str)
VA_data_2

/var/folders/25/yq9cvx4n7714ymc6mt488mw80000gn/T/ipykernel_23923/3961679802.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  VA_data_2["GEOID20"] = VA_data_2["GEOID20"].astype(str)

                GEOID20   block_vtda
0       510594915011013  51059000926
1       510594405031003  51059000134
2       510594402013008  51059000721
3       510594512001007  51059000502
4       510594611001008  51059000202
...                 ...          ...
163486  511639302002084  51163000203
163487  511479303021008  51147000601
163488  511179304011005  51117000803
163489  511179306001060  51117000601
163490  511179308004016  51117000901

[163491 rows x 2 columns]

In [70]:
len(VA_data_2["block_vtda"].unique())

2465

In [23]:
header = pd.read_csv('/Users/rebeccawagner/Documents/GitHub/GerryGainMCMC/local_environments_US.csv', index_col=0, nrows=0).columns.tolist()
VA_LE = pd.read_csv('/Users/rebeccawagner/Documents/GitHub/GerryGainMCMC/state_environs/VA_LE', names = header, dtype={'block_geoid_start':str}).reset_index(drop=True)
VA_LE

,block_geoid_start,sl_dist,rn_total_sl_dist,rn_hisp_sl_dist,rn_nh_white_sl_dist,rn_nh_black_sl_dist,state_fips,geoid20,geoid,total,...,hisp,nh_white,nh_black,nh_na,nh_asn,nh_haw,nh_oth,nh_multi,block_id_crosswalk,_merge
0,510010901011004,87.167068,784570,66249,436099,206975,51,510010901011004,510010901011004,11,...,0,7,1,0,1,0,0,2,2,matched (3)
1,510010901011006,89.001945,784639,66463,436571,206179,51,510010901011006,510010901011006,48,...,2,44,0,1,0,0,0,1,3,matched (3)
2,510010901011011,87.635887,784723,66369,436424,206518,51,510010901011011,510010901011011,13,...,0,9,0,0,0,0,0,4,4,matched (3)
3,510010901011012,87.547806,784683,66456,436459,206349,51,510010901011012,510010901011012,64,...,0,64,0,0,0,0,0,0,5,matched (3)
4,510010901011019,86.464142,784607,66923,435224,206419,51,510010901011019,510010901011019,4,...,0,4,0,0,0,0,0,0,6,matched (3)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117355,518400003024016,43.091900,784675,90374,494402,52580,51,518400003024016,518400003024016,113,...,89,18,1,0,0,0,0,5,117357,matched (3)
117356,518400003024019,42.706642,784708,89072,497661,52252,51,518400003024019,518400003024019,209,...,88,82,29,0,0,1,0,9,117358,matched (3)
117357,518400003024020,42.850006,784720,89008,498184,52093,51,518400003024020,518400003024020,138,...,88,32,11,0,0,0,0,7,117359,matched (3)
117358,518400003024022,42.632431,783929,89099,496172,52300,51,518400003024022,518400003024022,13,...,8,0,0,0,3,0,0,2,117360,matched (3)
117359,518400003024023,43.136856,784547,90645,493952,52514,51,518400003024023,518400003024023,18,...,7,0,4,0,0,0,1,6,117361,matched (3)

In [36]:
type(VA_LE["block_geoid_start"][0])

str

In [48]:
merged_df = VA_data_2.merge(right=VA_LE, left_on='GEOID20', right_on='block_geoid_start').drop(columns=["block_geoid_start"])
merged_df[["GEOID20","block_vtda","rn_total_sl_dist","rn_nh_black_sl_dist","total","nh_black"]]

,GEOID20,block_vtda,rn_total_sl_dist,rn_nh_black_sl_dist,total,nh_black
0,510594915011013,51059000926,784715,64396,65,5
1,510594405031003,51059000134,784672,56095,17,1
2,510594512001007,51059000502,784821,82334,39,4
3,510594611001008,51059000202,784625,48389,38,5
4,510594922011030,51059000845,784535,110618,29,1
...,...,...,...,...,...,...
117355,511639302002084,51163000203,784838,93662,74,2
117356,511479303021008,51147000601,784704,143939,16,3
117357,511179304011005,51117000803,784566,221347,2,0
117358,511179306001060,51117000601,784549,227391,15,9
117359,511179308004016,51117000901,784703,188114,30,0

In [62]:
merged_df["pct_blk_sl_dist"] = merged_df["rn_nh_black_sl_dist"]/merged_df["rn_total_sl_dist"] * 100
merged_df["weighted_blk_sl_dist"] = merged_df["pct_blk_sl_dist"] * merged_df["total"]

merged_df

,GEOID20,block_vtda,sl_dist,rn_total_sl_dist,rn_hisp_sl_dist,rn_nh_white_sl_dist,rn_nh_black_sl_dist,state_fips,geoid20,geoid,...,nh_black,nh_na,nh_asn,nh_haw,nh_oth,nh_multi,block_id_crosswalk,_merge,pct_blk_sl_dist,weighted_blk_sl_dist
0,510594915011013,51059000926,10.217906,784715,142181,360190,64396,51,510594915011013,510594915011013,...,5,0,34,0,0,6,27493,matched (3),8.206291,533.408945
1,510594405031003,51059000134,8.696074,784672,126982,378862,56095,51,510594405031003,510594405031003,...,1,0,7,0,0,3,23854,matched (3),7.148847,121.530397
2,510594512001007,51059000502,6.281578,784821,154139,379794,82334,51,510594512001007,510594512001007,...,4,0,5,0,0,4,24349,matched (3),10.490800,409.141193
3,510594611001008,51059000202,8.756289,784625,121921,392769,48389,51,510594611001008,510594611001008,...,5,0,2,0,0,10,25236,matched (3),6.167150,234.351697
4,510594922011030,51059000845,9.769932,784535,179042,319442,110618,51,510594922011030,510594922011030,...,1,0,5,0,0,3,27981,matched (3),14.099817,408.894696
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117355,511639302002084,51163000203,51.640049,784838,35213,605617,93662,51,511639302002084,511639302002084,...,2,0,2,0,0,1,68589,matched (3),11.933928,883.110655
117356,511479303021008,51147000601,56.179970,784704,32543,551019,143939,51,511479303021008,511479303021008,...,3,0,0,0,0,0,62519,matched (3),18.343095,293.489520
117357,511179304011005,51117000803,61.565372,784566,36264,477223,221347,51,511179304011005,511179304011005,...,0,0,0,0,0,0,52762,matched (3),28.212668,56.425336
117358,511179306001060,51117000601,71.853943,784549,38091,470802,227391,51,511179306001060,511179306001060,...,9,0,0,0,0,0,53135,matched (3),28.983658,434.754872
117359,511179308004016,51117000901,80.914810,784703,29669,525507,188114,51,511179308004016,511179308004016,...,0,0,0,0,0,0,53515,matched (3),23.972637,719.179103

In [85]:
idx = merged_df["block_vtda"] == 51001000101
test = merged_df[idx]
test["weighted_blk_sl_dist"].sum()

87802.26286590146

In [68]:
merged_df.groupby(by="block_vtda",as_index=False).sum()[["block_vtda","total","nh_black","weighted_blk_sl_dist"]]

/var/folders/25/yq9cvx4n7714ymc6mt488mw80000gn/T/ipykernel_23923/3750983619.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  merged_df.groupby(by="block_vtda",as_index=False).sum()[["block_vtda","total","nh_black","weighted_blk_sl_dist"]]

       block_vtda  total  nh_black  weighted_blk_sl_dist
0     51001000101   3326        28          87802.262866
1     51001000201   1511       211          39770.743603
2     51001000202   2887       148          75159.553995
3     51001000301   3560      1700          93245.021779
4     51001000401   1378       190          36526.530241
...           ...    ...       ...                   ...
2459  51840000102   2951       165          19552.899114
2460  51840000201   6910      1120          45876.665423
2461  51840000301   6844       793          45651.937283
2462  51840000401   3663       338          24411.412514
2463  51840000402   3860       222          25622.788094

[2464 rows x 4 columns]